{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="contact_form">
        <form method="post" id="contact-form">
            {% if error %}
                <div class="alert alert-danger">{{ 'Votre mail n\'a pas été reconnu' }}</div>
            {% endif %}
            <div class="row" style="display: flex; justify-content: center; padding-bottom: 25px">
                <h1 id="titreSection" style=" width: 35%">Connexion</h1>
            </div>
            <div class="row" style="display: flex; justify-content: center">
                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
                    <div class="form-group col-md-12">
                        <label for="inputEmail">Adresse mail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control" autocomplete="email" required autofocus>
                    </div>
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center">
                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
                    <div style="padding-bottom: 10px" class="col-md-12">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                    </div>
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center">
                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
                    <div class="form-group col-md-12">
                        <input style="margin-bottom: 10px" type="submit" value="Envoyer">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
