{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

<div class="section-wrapper" id="contacts">
    <div class="contacts">
        <div class="row">
            <div class="container">
                <div style="display: flex; justify-content: center" class="section-title wow fadeInDown"
                     data-wow-duration="1s" data-wow-delay="300ms">
                    <h1 id="titreSection"><span>Notre boutique</span></h1>
                </div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="container">
                <div class="row">
                    <div class="wrapper-contact">
                        <div style="width: 50%!important;" class="contact_form">
                            <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
