{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div style="display: flex; justify-content: center" class="col-md-12 element-title">
                <h1 style="margin-bottom: 20px;" id="titreSection">Historique de nos passions communes</h1>
            </div>
        </div>
        <div id="sous-titre">
            <a href="#"><strong>Par #SylvieMdesigner !</strong></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p> J’ai évolué durant 15 ans dans un environnement informatique aux perpétuels renouvellements
                        technologiques. J’occupais le poste d’Adjoint de Direction.</p>
                    <p><strong>En 2003</strong>, j’ai décidé de relever un nouveau challenge personnel et de m’orienter
                        vers
                        le
                        tourisme,
                        véritable passion qui m’a toujours animée depuis mon plus jeune âge. C’est ainsi que je me suis
                        inscrite
                        à l’Université de Marne La Vallée pour passer avec succès un DESS Organisation et Développement
                        du
                        Tourisme d’Affaires. J’ai développé une activité de tour-opérateur au sein d’une agence de
                        voyages
                        en me
                        spécialisant au fil du temps.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><strong>En 2008</strong>, imprégnée par l’activité familiale, exercée depuis plus de 30 ans, j’ai
                        entrepris de créer ma propre imprimerie.</p>
                    <p>Ayant été bercée dès l’âge de 5 ans par le « ronron » des machines d’impression
                        <strong>Heidelberg</strong>, entre autres,
                        et fascinée par les senteurs des encres, le lancement fut rapide et plaisant, l'investissement
                        ne
                        s'est
                        pas fait attendre.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-6 contents">
                    <p>
                        Pouvoir allier les nouvelles technologies de l’informatique et de l’imprimerie apparaît comme
                        l’aboutissement d’un voyage aux mille et une images
                    </p>
                    <p>
                        que l’on peut reproduire à sa juste valeur, en
                        prenant soin de bien choisir le bon papier, le format juste, les couleurs adéquates et les
                        machines
                    </p>
                    <p>
                        appropriées, <strong>pour enfin réaliser la plus belle image de soi, qu’elle soit
                            professionnelle
                            ou
                            personnelle.</strong>
                    </p>
                    <p>
                        Pouvoir allier les nouvelles technologies de l’informatique et de l’imprimerie apparaît comme
                        l’aboutissement d’un voyage aux mille et une images que l’on peut reproduire à sa juste valeur,
                        en
                        prenant soin de bien choisir le bon papier, le format juste, les couleurs adéquates et les
                        machines
                        appropriées, pour enfin réaliser la plus belle image de soi, qu’elle soit professionnelle ou
                        personnelle.
                    </p>
                </div>
                <div class="contents col-md-3 col-sm-9" style="float:right;">
                    <img id="realisation" style="max-width: 100%; margin-bottom: 25px"
                         src="{{ '../images/heidelbergImg.jpg' }}"
                         alt="Heidelberg">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 aProposimg">
                    <img id="realisation" style="max-width: 100%; float: left" src="{{ '../images/ACD_a_propos.jpg' }}"
                         alt="ACD-INC">
                </div>
                <div style="float: left" class="col-md-9">
                    <p> En 2017, cette année marquera un changement majeur au sein du mouton des villes, l’imprimerie
                        s’associe avec la société ACD-INC, spécialisée dans l’ingénierie des technologies de
                        communication,
                        pour qu’ensemble, ses acteurs ; Sylvie Mouton et David Mesmacque, développent leurs idées et les
                        réalisent sur les bases de leurs compétences complémentaires.</p>
                    <p>Les technologies de l’informatique au service de l’imprimerie nous propulsent vers de nouveaux
                        produits
                        interactifs sans cesse évolutifs. C’est ainsi que le mouton des villes continuera non seulement
                        de
                        proposer
                        ses prestations d’imprimeur, de textiles personnalisés, et d’objets publicitaires mais ajoute à
                        sa
                        gamme les
                        produits connectés*.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Nos passions et nos forces communes, notre sens du service, de l’écoute, et nos
                            savoir-faire
                            sans cesse en interaction, sont nos atouts majeurs que nous mettons à votre entière
                            disposition
                            pour vos futurs projets.</strong></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Nous sommes heureux et fiers en grands complices que nous avons toujours été, de vous préciser
                        notre
                        date d'engagement, non pas avec nos clients, ça c'est systématique ;-) Mais l'un envers l'autre
                        par
                        notre mariage célébré le 04 septembre 2018.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <img class="rmariage" src="{{ '../images/mariage_a_propos.jpg' }}"
                     alt="Photo David et Sylvie Mesmacque">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-style: italic ">Nous sommes désormais unis pour la vie, nous resterons les complices
                        de vos réalisations et de votre
                        accompagnement pour que votre succès soit aussi un peu le nôtre.
                        (*Les objets connectés sont des objets électroniques connectés sans fil, partageant des
                        informations
                        avec un ordinateur, une tablette ou un smartphone... Et capables de percevoir, d’analyser et
                        d’agir
                        selon les contextes et notre environnement).</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="aProposimg" style="max-width: 100%" src="{{ '../images/bandeauMdv_a_propos.jpg' }}"
                         alt="Bandeau Mouton des villes">
                </div>
            </div>
        </div>
    </div>
{% endblock %}