{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div style="justify-content: center; display: flex;" class="col-md-12">
                <h1 id="titreSection">CONDITIONS GÉNÉRALES DE VENTE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre" style="float: left">MARQUAGE :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Tous nos prix comprennent un marquage à un endroit ou sur une face tel que nous l’indiquons en
                    dessous des prix de chaque article. Nous ferons au mieux pour reproduire fidèlement vos couleurs. Vu
                    la diversité des produits et des matières, les couleurs d’impression ne sont pas garanties PANTONE.
                    Les impressions en or, argent et fluo sont disponibles uniquement en tampographie et
                    sérigraphie.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">FRAIS TECHNIQUES :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>70 € par couleur et par emplacement de marquage à condition de nous soumettre un document en noir et
                    blanc. Cas particuliers : pour la «Permavision», quadrichromie, quadrichromie digitale et
                    «Transfert», 1 seul frais technique de 70 € par emplacement. Sérigraphie et tampographie : chaque
                    changement de couleur de marquage dans une même série sera facturé 40 €.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">MARCHANDISE NEUTRE :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Des produits sans marquage sont disponibles aux prix indiqués sous réserve de respecter les quantités
                    par carton. Toute quantité inférieure, sera facturée au prix de la quantité avec marquage. Des
                    échantillons sont disponibles neutres ou revêtus d’un marquage exemplaire au prix de la plus petite
                    quantité plus un frais forfaitaire de 8 € par envoi. Les articles neutres sont livrés non
                    montés.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">QUANTITÉ :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Nous nous réservons le droit de livrer et facturer plus ou moins 5% de la quantité commandée.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">PRODUITS :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Les illustrations des articles ne sont pas contractuelles. Nous nous réservons le droit de modifier
                    un produit sans préavis. Des variations légères de couleur et de finition ne donneront droit à
                    aucune compensation. Les poids et dimensions sont donnés à titre indicatif.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">DÉLAI ET TRANSPORT :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Les prix sont départ usine. Les marchandises sont remises dans les délais au transporteur et voyagent
                    aux risques du client.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">RÉCLAMATIONS :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Les réclamations portant sur la quantité ou la qualité ne sont pas acceptées au-delà d’un délai de 7
                    jours suivant la date d’expédition. Passé ce délai, notre responsabilité ne sera pas engagée. Nous
                    n’acceptons pas de retour pour des articles marqués que nous n’aurions pas imprimés.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">PRIX :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Les prix sont hors TVA et fonction des quantités commandées. Toutes autres taxes applicables (en
                    cours ou à venir) telles que l’ECOTAXE (DEEE), SORECOP (Clés USB) ou autres viendront s’ajouter au
                    tarif. Pour des quantités plus importantes, n’hésitez pas à nous contacter.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">N.B. :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Les produits illustrés n’ont pas nécessairement été fournis à ou endossés par des sociétés dont les
                    noms et les sigles ont été utilisés. Ces impressions ne sont que des exemples de positionnement et
                    d’effet du marquage. Il ne s’agit en aucun cas d’un abus de marque.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">Informations Générales</h3>
            </div>
        </div>
        <div style="text-align: left!important;" class="row">
            <div class="col-md-12">
                <ul>
                    <li><strong>Raison sociale: </strong> LE MOUTON DES VILLES SAS</li>
                    <li><strong>Siège social: </strong> 5, chemin de la pierre à poisson 78250 Meulan en Yvelines FRANCE
                    </li>
                    <li><strong>N° Siret: </strong> 501 040 059 00013</li>
                    <li><strong>N° TVA intra:</strong> FR41501040059</li>
                    <li><strong>Tél.:</strong> 06 68 69 56 40</li>
                    <li><strong>Dirigeant:</strong> M. MESMACQUE David</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">Hébergement</h3>
            </div>
        </div>
        <div style="text-align: left" class="row">
            <div class="col-md-12">

                <ul>
                    <li>Axinet</li>
                    <li>34 avenue de l'Europe Immeuble le trident A - 38100 Grenoble</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">Conception, réalisation & édition</h3>
            </div>
        </div>
        <div style="text-align: left" class="row">
            <div class="col-md-12">
                <p>Développé par ACD-INC</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sous-titre">Législation et propriété</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="float: left">Toute reproduction, représentation, modification, publication ... totale ou partielle du site ou de
                    son
                    contenu est strictement interdite, et ce quel que soit le procédé et le support. Toute exploitation
                    non
                    autorisée du site ou de son contenu engage la responsabilité de l'utilisateur et constitue une
                    contrefaçon sanctionnée par les articles L335-2 du Code de la Propriété Intellectuelle.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="float: left">Toute reproduction, extraction ou piratage des bases de données engage de la même façon la
                    responsabilité de l'utilisateur, d'après la loi du 1er juillet 1998 portant transposition dans le
                    Code de la Propriété Intellectuelle de la Directive Européenne du 11 mars 1996 relative à la
                    protection juridique des bases de données.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="aProposimg" style="max-width: 100%" src="{{ '../images/bandeauMdv_a_propos.jpg' }}" alt="Bandeau Mouton des villes">
            </div>
        </div>
    </div>
{% endblock %}