<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <title>Xlight Bootstrap Responsive HTML5/CSS3 Template</title>
        <meta name="description" content="Xlight Bootstrap Responsive HTML5/CSS3 Template">
        <meta name="author" content="Andsolutions.it">
        <meta name="description" content="">
        <!-- Favicons -->
        <link rel="shortcut icon" href="{{ asset ('images/ico/faviconmdv.ico') }}">
        <link rel="apple-touch-icon" href="images/ico/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/ico/apple-touch-icon-144.png">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="css/bootstrap.min.css" rel="stylesheet">
            <link href="css/bootstrap-theme.min.css" rel="stylesheet">
            <link href="css/animate.min.css" rel="stylesheet" >
{#            <link href="css/font-awesome.min.css" rel="stylesheet">#}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link href="css/prettyPhoto.css" rel="stylesheet">

            <link href="css/theme.css" rel="stylesheet">
            <link href="css/responsive.css" rel="stylesheet">
            <link href="css/colors/blue.css" rel="stylesheet" class="colors">

            <!-- Google Font -->
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet" type='text/css'>
            <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet" type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        {% endblock %}


    </head>
    {% include'components/_header.html.twig' %}
    <body data-spy="scroll" data-target="#mynav" data-offset="85">
        {% block body %}{% endblock %}
    </body>
    {% include 'components/_footer.html.twig' %}

    {% block javascripts %}
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/retina.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.countTo.js"></script>
        <script src="js/jquery.mixitup.min.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.knob.min.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/custom.js"></script>
    {% endblock %}
</html>
