<!-- Footer -->
<div class="bottom-footer">
    <div class="container">
        <div class=" wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
            <ul class="bottom-social-icons">
                <li><a href="https://fr-fr.facebook.com/lemoutondesvilles"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://fr.linkedin.com/company/acd-inc-business-strat%C3%A9gie"><i class="fab fa-linkedin-in"></i></a></li>
{#                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                <li><a href="#"><i class="fa fa-flickr"></i></a></li>#}
            </ul>
        </div>
        <div id="white" class="footerCenter wow fadeInUp" data-wow-duration="1s" data-wow-delay="450ms">
            <p><span>&#169; 2017 - {{ 'now' | date ('Y') }}- SAS Le mouton des villes </span> - <a href="{{ path ('mentions_legales') }}">Mentions légales</a></p>
        </div>
    </div>
</div>
<!-- End Footer -->
